<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<ul class="list" ng-controller='DrawerController'>
  <li class="item item-checkbox" ng-click="submitFilters()">
    <label class="checkbox">
       <input class="sports-filter" type="checkbox" ng-model="userGames">
    </label>
    <table>
      <tr>
      <td>My Created Games</td>
      </tr>
    </table>
  </li>
  <!-- <ul class="list"> -->
    <li class="item item-checkbox" "stylel" ng-repeat="sport in sports track by $index" ng-click="submitFilters()">
         <label class="checkbox" >
           <input class="sports-filter" type="checkbox" style="line-height: 50%;" ng-model="sportsFilters[$index]">
         </label>
         <table style="border:1;">
            <tr>
              <td style="line-height: 50%;"><img src="{{getURL(sport)}}"></td>
              <td style="valign:top; line-height: 50%;">{{sport}}</td>
            </tr>
         </table>
    </li>
  </ul>
  
</ul>
