<script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>
<ul class="list" ng-controller='DrawerController'>
  <li class="item">
    <label>My Created Games:
       <input class="sports-filter" type="checkbox" ng-model="userGames">
     </label>
  </li>
  <li class="item">
    <h2>Filter by sport:</h2>
  </li>
  <li class="item" ng-repeat="sport in sports track by $index">
    <label>{{sport}}:
       <input class="sports-filter" type="checkbox" ng-model="sportsFilters[$index]">
     </label>
  </li>
  <li class="item">
    <button ng-click="submitFilters()" class="button button-full button-balanced">Filter Games</button>
    <button ng-click="resetFilters()" class="button button-full button-assertive">Reset Filters</button>
  </li>
</ul>
