<div class="padding" ng-controller="GettingStartedController">
    <script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script>

  <super-navbar>


	<super-navbar-title>
    PickApp
  </super-navbar-title>
	<a class="button button-outline icon-right super-navicon button-balanced"></a>


  </super-navbar>

  <map center="current-location" style="height: 80vh;" zoom="15">
    <marker ng-repeat="game in loadedGames" id="{{game.MarkerId}}" position="{{game.Position}}" on-click="showInfoWindow('myInfoWindow')"/>
    <info-window id="myInfoWindow" max-width="200">
    <div ng-non-bindable="">
      <div id="siteNotice"></div>
      <div id="bodyContent">
        <p>
          <b>{{game.Sport}}</b> <br> {{game.Time}}</p>
        <br>
        <button class="rsvpbutton" ng-click="rsvpevent()">RSVP</button>
        </div>
      </info-window>
    </marker>
  </map>

  <div class="onoffswitch" style="float: right;">
      <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="placeGame">
      <label class="onoffswitch-label" for="myonoffswitch"></label>
  </div>
  <p style="float: right;"> Create new game </p>
</div>
