<div class="padding" ng-controller="RSVPController">
  <super-navbar>
    <super-navbar-button ng-click="toHome()">
      Back
    </super-navbar-button>

    <super-navbar-title>
      RSVP 
    </super-navbar-title>
  </super-navbar>

 <div class="list">
  <label class="item item-input item-select">
	 <div class="input-label" >
     No of Additional Guests
    </div>
	<select ng-model="rsvp.guest" >
      <option  value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
	   <option value="3">3</option>
	    <option value="4">4</option>
		 <option value="5">5</option>
		  <option value="6">6</option>
    </select>
  </label>
     <form name="myform">
 <label class="item item-input">
      <input ng-model="rsvp.phone" name="phNo" type="text" placeholder="Phone Number(xxx-xxx-xxxx)"  ng-pattern="/^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]\d{3}[\s.-]\d{4}$/" />
  </label>
         <span class="invalid-phone" ng-show="myform.phNo.$invalid" style="font-family: Calibri "><em>Invalid phone number</em></span>
         <br>
         <label class="item item-input">
    <textarea ng-model="rsvp.comment" placeholder="Comments if any"></textarea>
  </label>
     </form>
 </div>
<button ng-click="submitrsvp(rsvp)" class="button button-full button-balanced" style="border-radius: 10px"
        >Confirm</button>

</div>
