<div class="padding">

  <super-navbar>
    <super-navbar-title>
      RSVP 
    </super-navbar-title>
  </super-navbar>

 <div class="list">
  <label class="item item-input item-select">
	 <div class="input-label" >
     No of Guests
    </div>
	<select>
      <option selected>0</option>
      <option >1</option>
      <option>2</option>
	   <option>3</option>
	    <option>4</option>
		 <option>5</option>
		  <option>6</option>
    </select>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Phone Number">
  </label>
  <label class="item item-input">
    <textarea placeholder="Comments if any"></textarea>
  </label>
</div>
<button ng-click="submitrsvp()"><center>Confirm</center></button>

</div>
