<div class="padding" ng-controller="RSVPController">
  <super-navbar>
    <super-navbar-button ng-click="toHome()">
      Back
    </super-navbar-button>

    <super-navbar-title>
      RSVP 
    </super-navbar-title>
  </super-navbar>

 <div class="list">
  <label class="item item-input item-select">
	 <div class="input-label" >
     No of Additional Guests
    </div>
	<select ng-model="rsvp.guest" >
      <option selected="selected">0</option>
      <option >1</option>
      <option>2</option>
	   <option>3</option>
	    <option>4</option>
		 <option>5</option>
		  <option>6</option>
    </select>
  </label>
  <label class="item item-input">
    <input ng-model="rsvp.phone"  type="text" placeholder="Phone Number">
  </label>
  <label class="item item-input">
    <textarea ng-model="rsvp.comment" placeholder="Comments if any"></textarea>
  </label>
</div>
<button ng-click="submitrsvp(rsvp)" >Confirm</button>

</div>
