.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}
 .rsvpbutton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.hrefstyle:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.hrefstyle:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
   .onoffswitch-label {
       display: block; overflow: hidden; cursor: pointer;
       height: 36px; padding: 0; line-height: 36px;
       border: 2px solid #CCCCCC; border-radius: 36px;
       background-color: #FFFFFF;
       transition: background-color 0.3s ease-in;
   }
   .onoffswitch-label:before {
       content: "";
       display: block; width: 36px; margin: 0px;
       background: #FFFFFF;
       position: absolute; top: 0; bottom: 0;
       right: 22px;
       border: 2px solid #CCCCCC; border-radius: 36px;
       transition: all 0.3s ease-in 0s;
   }
   .onoffswitch-checkbox:checked + .onoffswitch-label {
       background-color: #49E845;
   }
   .onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
      border-color: #49E845;
   }
   .onoffswitch-checkbox:checked + .onoffswitch-label:before {
       right: 0px;
   }

  .sport-selector {
    width: 40%;
  }