#%RAML 0.8
title: Steroids Data
mediaType: application/json
baseUri: https://rest-api.appgyver.com/v1

traits:
    - securedBySteroidsApiKey:
        headers:
          steroidsApiKey:
            type: string
            example: exampleapikey
            default: 5971df40688d094e509738539080f4b2b45ebdfe951354ca50182f3c6def6c83
          steroidsAppId:
            type: integer
            example: 1234
            default: 80018
  
schemas:
  - Game_collection: '{"$schema":"http://json-schema.org/schema","title":"Game collection","type":"object","properties":{"objects":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Game representation","properties":{"Time":{"type":"string"},"Sport":{"type":"string"},"Lat":{"type":"string"},"Lng":{"type":"string"},"Event_ID":{"type":"string"}},"required":[]}}}}'
  - Game_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical Game representation","properties":{"object":{"type":"object","properties":{"Time":{"type":"string"},"Sport":{"type":"string"},"Lat":{"type":"string"},"Lng":{"type":"string"},"Event_ID":{"type":"string"}},"required":[]}}}'
  - RSVPDetails_collection: '{"$schema":"http://json-schema.org/schema","title":"RSVPDetails collection","type":"object","properties":{"objects":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical RSVPDetails representation","properties":{"Event_ID":{"type":"integer"},"Guest_Count":{"type":"integer"},"Phone_No":{"type":"string"},"Comments":{"type":"string"}},"required":[]}}}}'
  - RSVPDetails_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical RSVPDetails representation","properties":{"object":{"type":"object","properties":{"Event_ID":{"type":"integer"},"Guest_Count":{"type":"integer"},"Phone_No":{"type":"string"},"Comments":{"type":"string"}},"required":[]}}}'

resourceTypes:
  - dolan_db_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "objects"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_collection # e.g cars
      post:
        description: |
          {
            "action": "create",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car

  - dolan_db_member:
      usage: This resourceType should be used for any built.io item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car
      put:
        description: |
          {
            "action": "update",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:


/Game:
  description: |
    {
      "resourceName": "Game",
      "identifierKey": "id"
    }
  type: dolan_db_collection
  /{id}:
    type: dolan_db_member

/RSVPDetails:
  description: |
    {
      "resourceName": "RSVPDetails",
      "identifierKey": "id"
    }
  type: dolan_db_collection
  /{id}:
    type: dolan_db_member


